---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<!-- So, this is saying "use the Layout.astro component..." -->
<Layout>
	<!-- TODO: Custom font... aka jost -->
		<main>
			<!-- <section id="hero"> -->
				<h1>
					To get started, open the <code><pre>src/pages</pre></code> directory in your project.
				</h1>
			<!-- </section> -->
		</main>
</Layout>