---
import myProfileImg from '../assets/pfp_alpha_1920x1920.png';
import '../styles/global.css';
---

<footer>
    <!-- External links to GitHub profile and other -->
    <!-- <section id="links"> -->
    <section class="nav-links">
        <a class="button" href="https://docs.astro.build">Read our docs</a>
        <a href="https://astro.build/chat">Join our Discord</a>
    </section>

    <!-- Profile box section -->
    <!-- <a href="https://github.com/mk39-png" id="news" class="box">
        <img src={myProfileImg.src} width="32" height="32" alt="Misc Box">
        <h2>More Info?</h2>
        <p>
            Click here to see my GitHub profile.
        </p>
    </a> -->
</footer>