---
// import '../styles/global.css';
---
<footer>
    <p>Last updated December 2024</p>
</footer>

<style>
    footer {
        background-color: #a2aabb;
    }

    p {
        color: #4b5563;
        /* font-size: 16px; */
        /* line-height: 24px; */
        /* letter-spacing: -0.006em; */
        margin: 0;
    }
</style>