---
---
<footer>
    <!-- <p>Last updated December 2024</p> -->
    <!-- Right now, there is nothing in the footer, but in the 
        future, there could be some items of importance here. -->
</footer>

<style>
    footer {
        display: flex;

        /* Width to take up 100% of parent space */
        width: 100%;
        /* background-color: #a2aabb; */
        border-radius: inherit;
    }

    p {
        /* font-size: 16px; */
        /* line-height: 24px; */
        /* letter-spacing: -0.006em; */
        /* margin: 0; */
    }
</style>