---
import myProfileImg from '../assets/pfp_alpha_1920x1920.png';
import '../styles/global.css';
import '../styles/navlink.css';
---
<header>
    <nav>
        <!-- Navigation component... placed in header because there really isn't that much else to the header. -->
        <div class="nav-links">
                <!-- Profile picture in header -->
                <img src={myProfileImg.src} width="120" height="120" alt="mk39-png Homepage" />
                <h1>mk39-png's Portfolio</h1>
                <br>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
        </div>
    </nav>
</header>