---
---

<header>
    <nav>
        <h1>mk39-png's Portfolio</h1>

        <!-- Navigation component... placed in header because there really isn't that much else to the header. -->
        <div class="nav-links">
            <a href="/Portfolio-Website">Home</a>
            <a href="/Portfolio-Website/projects">Projects</a>
            <a class="button" href="https://github.com/mk39-png">Github</a>

            <!-- About section below for future implementations -->
            <!-- <a href="/about">About</a> -->
        </div>
    </nav>
</header>


<style>
    :root {
        --charcoal: #364652ff;
        --night: #071108ff;
        --thistle: #bfb1c1ff;
		--raw-umber: #916953ff;
        --french-gray: #b5bec6ff;
        --columbia-blue: #c7dbe6ff;
    }

    header {
        /* Inline Block so that the items can be centered and take up the width 
            of the parent box */
        display: inline-block;

        /* https://stackoverflow.com/questions/48535585/what-is-difference-between-justify-self-justify-items-and-justify-content-in-cs
        /* 'justify-self' aligns block containers within parent! */
        justify-items: center;

        width: 100%;

		/* background-color: #5197a1; */
        background-color: var(--columbia-blue);
        border-radius: inherit;

		box-shadow: 1px 4px 10px var(--charcoal);

        /* NOTE: Below are not required. */
        /* display: inline-flex; */
        /* flex-direction: column; */
		/* flex-wrap: wrap; */

        /* height: fit-content; */
        /* max-width: 50lvw; */
        /* width: 50vh; */
        /* width: fit-content; */
        /* height: auto; */
        /* margin: 0; */
        /* padding: 0; */
        /* box-sizing: border-box; */
    }

    h1 {
        font-size: 3rem;

        /* To reduce the gap between the top & bottom of the header and the navlinks */
        margin-top: 0.4em;
        margin-bottom: 0.25em;

        text-shadow: 2px 2px var(--french-gray);

        color: var(--night);
    }

    .nav-links {
        /* Flex since navlinks are side-by-side */
        display: flex;

        /* Center so that navlinks are aligned with h1 header text */
        justify-content: center;

        margin: 4%;
        gap: 16px;

        /* NOTE: Below are for experimentation. */
        /* display: unset; */
        /* width: auto; */
        /* left: 48; */
        /* background: none; */
        /* max-height: fit-content; */
        /* max-width: max-content; */
        /* flex-wrap: wrap; */
        /* background: local; */
        /* background-color: #839ed3; */
    }

    .nav-links a {
        color: var(--night);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        transition: color 0.2s;
        padding: 10px 12px;
    }

    /* Text highlighting/background for when the user hovers over a link */
    .nav-links a:hover,
    .nav-links a:focus {
        background-color: var(--french-gray);
        color: var(--charcoal);
        border-radius: 10px;
    }

    /* Special button used by the Github links... */
    .nav-links a.button {
        color: var(--night);
        background: linear-gradient(83.21deg, var(--french-gray) 0%, var(--thistle) 100%);
        box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.12),
            inset 0 -2px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }

    .nav-links a.button:hover {
        color: rgb(230, 230, 230);
        box-shadow: none;
    }

    /* TODO: Change the navigation bar to be a drop-down menu 
        for mobile devices */
    @media screen and (max-width: 768px) {
        .navlinks {
            flex-wrap: wrap;
        }

        .navlinks a.button {
            padding: 14px 18px;
        }
    }
</style>