---
// import '../styles/global.css';
---
<header>
    <nav>
        <!-- Navigation component... placed in header because there really isn't that much else to the header. -->
        <div class="nav-links">
            <!-- <section> -->
            <!-- mk39-png's Portfolio -->
            <h1>mk39-png's Portfolio</h1>
            <a href="/">Home</a>
            <a href="/blog">Projects</a>
            <a class="button" href="https://github.com/mk39-png">Github</a>
            <a href="/about">About</a>
            <!-- </section> -->
        </div>
    </nav>
</header>

<style>
    header {
        /* https://stackoverflow.com/questions/48535585/what-is-difference-between-justify-self-justify-items-and-justify-content-in-cs
        /* 'justify-self' aligns block containers within parent! */
        /* justify-self: center; */

        /* height: fit-content; */
        /* max-width: 50lvw; */
        /* width: 50vh; */
        /* width: fit-content; */
        /* height: auto; */
        /* margin: 0; */
        /* padding: 0; */
        /* box-sizing: border-box; */
		background-color: #5197a1;
    }

    h1 {
        font-size: 48px;
        /* margin-top: 0.25em; */

        /* To reduce the gap between the bottom of the header and the navlinks */
        margin-bottom: 0.25em;

		/* background-color: #5197a1; */
        /* padding: 0px 12px; */
    }

    h2 {
        /* margin: 0 0 1em; */
        /* font-weight: normal; */
        color: #111827;
        font-size: 20px;
    }


    .nav-links {
        /* display: unset; */
        /* width: auto; */
        /* max-height: fit-content; */
        /* max-width:max-content; */
        /* height: 100%; */
        /* top: 5rem; */
        /* left: 48; */
        /* background: none; */
        /* display: none; */
        /* display: flex; */
        /* margin: 0; */
        /* gap: 16px; */
        /* flex-wrap: wrap; */
        /* background: local; */
        /* background-color: #d1d6e0; */
    }

    .nav-links a {
        display: inline-block;
        /* display: flex; */
        color: #111827;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        transition: color 0.2s;
        padding: 10px 12px;
    }

    /* Text highlighting/background for when the user hovers over a link */
    .nav-links a:hover,
    .nav-links a:focus {
        /* TODO: Put this to be only the length of text... */
        /* How does one do that? */
        background-color: #ff9776;
        color: rgb(78, 80, 86);
        border-radius: 10px;
    }

    /* Special button used by the Github links... */
    .nav-links a.button {
        color: white;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.12),
            inset 0 -2px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }

    .nav-links a.button:hover {
        color: rgb(230, 230, 230);
        box-shadow: none;
    }

    /* .expanded {
        display: unset;
    } */


    @media screen and (max-width: 768px) {
        .navlinks {
            /* flex-wrap: wrap; */
        }

        .navlinks a.button {
            /* padding: 14px 18px; */
        }
    }

</style>